@model IEnumerable<FrontEnd.Models.CitaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEspecialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClinica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHorario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusCita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.IdCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClinica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHorario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusCita)
            </td>
            <td>

                
                @* @Html.ActionLink("Edit", "Edit", new { id=item.IdCita }) | *@

                    <button>@Html.ActionLink("Editar", "Edit", new { id=item.IdCita })</button>

                    @* @Html.ActionLink("Details", "Details", new { id=item.IdCita }) *@

                    <button>@Html.ActionLink("Detalles", "Details", new { id=item.IdCita })</button>
            </td>
        </tr>
}
    </tbody>
</table>
